doctype html
html(lang="en")
  head
    title= FoodiGo
    link(rel="stylesheet" href="http://localhost:8001/style.css")
    link(rel="stylesheet" href="http://localhost:3000/style.css")
  body
    div(id="title-map")
    div(id="reviews")
    div(id="pictures")
    div(id="sidebar")
    script(crossorigin src="https://unpkg.com/react@16/umd/react.development.js").
    script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js").
    script(src="http://localhost:3001/bundle.js")
    script(src="http://localhost:8001/bundle.js")
    script(src="http://localhost:3000/bundle.js")
    script(src="http://localhost:3400/bundle.js")
    script. 
      ReactDOM.render(React.createElement(ReviewApp, {id: #{id} }, null), document.getElementById("reviews"))
    script.
      ReactDOM.render(React.createElement(Sidebar, {id: #{id} }, null), document.getElementById("sidebar"))
    script.
      ReactDOM.render(React.createElement(TitleMap, {id: #{id} }, null), document.getElementById("title-map"))
    script.
      ReactDOM.render(React.createElement(Pictures, {id: #{id} }, null), document.getElementById("pictures"))
