doctype html
html(lang="en")
  head
    title= FoodiGo
    link(rel="stylesheet" href="/styles.css")
    link(rel="stylesheet" href="http://foodigoreviews.us-west-1.elasticbeanstalk.com/style.css")
    link(rel="stylesheet" href="http://foodigopictures.us-west-1.elasticbeanstalk.com/style.css")
    link(rel="stylesheet" href="http://foodigosidebar-env.us-east-2.elasticbeanstalk.com/style.css")
  body
    div(id="nav")
      img(alt="logo", id="logo", src="https://s3-us-west-1.amazonaws.com/foodigoiconlib/FoodiGo.png")
    div(id="container")
      div(id="prox-header-bottom")
      div(id="nav-bar")
      div(id="title-map")
      div(id="proxy-reviews")
      div(id="pictures")
      div(id="sidebar")
      script(crossorigin src="https://unpkg.com/react@16/umd/react.development.js").
      script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js").
      script(src="http://foodigotitle-env.us-west-1.elasticbeanstalk.com/bundle.js")
      script(src="http://foodigosidebar-env.us-east-2.elasticbeanstalk.com/bundle.js")
      script(src="http://foodigopictures.us-west-1.elasticbeanstalk.com/bundle.js")
      script(src="http://foodigoreviews.us-west-1.elasticbeanstalk.com/bundle.js")
      script.
        ReactDOM.render(React.createElement(ReviewApp, {restaurantId: #{id} }, null), document.getElementById("proxy-reviews"))
      script.
        ReactDOM.render(React.createElement(Sidebar, {id: #{id} }, null), document.getElementById("sidebar"))
      script.
        ReactDOM.render(React.createElement(TitleMap, {id: #{id} }, null), document.getElementById("title-map"))
      script.
        ReactDOM.render(React.createElement(Pictures, {id: #{id} }, null), document.getElementById("pictures"))
